@media screen and (max-width: 500px) {

    footer img[src="footer/mail.png"] {
        width: 20%;
        margin-right: 0px;
    }

.over {
    display: block;
}

    .nav {
        padding-left: 1rem;
        height: 70px;
        position: fixed;
        top: 0;
        position: fixed;
    }
    nav {
        z-index: 600;
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 70px;
        width: 50%;
        transform: translateX(100%);
        transition: 0.7s;
        background: linear-gradient(90deg, #F2709C 30.42%, #FF9472 117.42%);
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
    }
    nav ul li {
        opacity: 1;
    }
    .nav-active {
        transform: translateX(0);
    }
    .hero {
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 4rem;
        justify-content: center;
        /* margin-top: 20rem; */
        /* padding-top: 120px; */
    }
    .hleft {
        width: 100%;
        animation: slideInFromTop 1.2s ease-in;
        margin-top: 4rem;
    }
    .hleft > h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 0;
       
       
    }

    .hleft > h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;
        line-height: 27px;
       
       
       
    }

    .logo img {
        height: 55%;
        display: block;
    }
    .hleft p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }
    .hleft .button {
        margin: auto;
    }


    .hleft :first-child  {
        margin: auto;
        margin-bottom: 2rem;
    }
    .hRight {
        width: auto;
        padding: 0;
        justify-content: center;
        animation: slideInFromBottom 1.2s ease-in;
    }
    .hright img {
        width: 100%;
        display: block;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        position: relative;
      
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4rem;
        outline: none;
        font-weight: 500;
        color: white;
        border: none;
        transition: 0.8s;
        cursor: pointer;
        font-size: 0.52rem;
        background: linear-gradient(90deg, #F2709C 30.42%, #FF9472 117.42%);
    }
    .hleft button h1 {
        position: absolute;
        font-size: 1rem;
        top: 50%;
        color: white;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .whydiv1 {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .whydiv2 {
        width: auto;
    }
    .whydiv1-2 {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .whydiv3 img {
        width: 60%;
        display: block;
        margin-left: auto;
    }
    /* width: 80%;
    display: block;
    .whydiv3 img[ src="res/whywe2.png"] {
        margin-left: auto;
    } */
    .whydiv2 h3 {
        margin-top: 1rem;
    }
    .card1 {
        width: auto;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        margin-right: 0;
    }
    .cards h1 {
        width: 80%;
        margin: auto;
    }
    .ppp {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .pLearn h1 {
        width: 80%;
        margin: auto;
    }
    .pp {
        width: 90%;
        margin: auto;
    }
    .saydiv {
        margin-top: 0;
        margin-bottom: 0;
    }
    .card2 {
        width: auto;
    }
    /* Parents saying */
    .three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .m {
        margin-right: 0;
        margin-left: 0;
    }
    .sm {
        margin-top: 0;
        margin-right: 0;
    }
    .sm2 {
        margin-top: 0;
        margin-left: 0;
    }
    .mb {
        margin-bottom: 0;
    }
    .slide {
        width: 94%;
    }
    .container {
        width: 100%;
    }
    .Appheading {
        text-align: center;
    }
    .pLearn img {
        display: block;
        margin: auto;
        width: 330px;
        padding-top: 3rem;
    }
    /* Parents saying */
    .parentswrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .pm {
        margin-left: 0;
        margin-right: 0;
    }
    .saydiv {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    /* footer */
    footer {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .fdiv1 {
        /* width: 30%; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .fdiv1 img {
        padding-top: 1rem;
    }
    .fdiv2 {
        margin-top: 3rem;
        padding-right: 0;
    }
    .fdiv3 {
        width: 100%;
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .fdiv3 h2 {
        margin-bottom: 2rem;
    }
    .fdiv4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
       
    }
    .cardsFirstRow {
        flex-direction: column;
    }
    .cardsSecondRow {
        flex-direction: column;
    }
    .burger {
        padding-right: 3rem;
        cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }


    .mainImage {
        display: none;
        margin: auto;
    
       
      height: 365px;
      width: auto;
     
      background: linear-gradient(
        -90deg
        , rgb(242, 112, 156) 30.42%, rgb(255, 148, 114) 117.42%);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        margin-bottom: 5rem;
        background-size: cover;
        padding-top: 1.2rem;
        padding-bottom: 3rem;
        margin-top: 8rem;
        margin-bottom: 5rem;
        position: relative;
        border-radius: 1rem;
        margin-bottom: 16rem;
        
    }

    .button {
        display: block;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .fdiv1 p {
        text-align: start;
        margin: 0;
        text-align: center;
    }

    footer h1 {
        display: block;
        margin: auto;
    }

    .fdiv5 {
        padding-bottom: 2rem;
    }
    .support {
        padding-top: 2rem;
    }

    .mainImage-res {
        display: block;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .whyWeExist h2 {
        margin: auto;
    width: 88%;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;
    }


    .button2 {
        position: relative;
        display: block;
        margin: auto;
        margin-top: 1.5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 61px;
      margin-bottom: 1.5rem;
        outline: none;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
        border: 2px solid #F2709c;
        transition: 0.8s;
        cursor: pointer;
        background: white;
        text-decoration: none;
    }
    .play {
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-direction: column;
    }




    .explore {
        margin-top: 0.6rem;
        display: flex;
        width: 80%;
        justify-content: flex-start;
        margin: auto;
        flex-direction: column;
       
    }

    .button .h {
        position: absolute;
        font-size: 1rem;
        top: 50%;
        color: white;
        text-align: center;
        left: 58%;
        transform: translate(-50%, -50%);
    }   
    

    
}