@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {display: block;
  margin-bottom: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
  border: 2px #656565 solid;
  color: #656565;
  width: 70%;
  border-radius: 300px;
}

input:focus {
  border: 2px #F2709C solid;
  color: #F2709C;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
90deg
, #F2709C 30.42%, #FF9472 117.42%);

display: flex;
justify-content: center;
align-items: center;

}

.main {
  height: 70%;
  width: 70%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
}

.image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 4rem; */
  width: 40%;
}

.info {
  /* margin-left: 4rem; */
  width: 50%;

}


.main img {
  height: 80%;
  width: auto;
  display: block;
}

.info h1 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.signIn {
  width: 70%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: #57B847;
  outline: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 300px;
 
}

.create {
  width: 70%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: #656565;
  outline: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 300px;
}


@media screen and (max-width: 500px) {


  .main {
    height: 90%;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }



  .image {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 4rem; */
    width: 40%;
  }

  .info {
    /* margin-left: 4rem; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  
  }

}

